/shelf/
/workspace.xml
/tasks.xml
/usage.statistics.xml
/dictionaries
/libraries/
/caches/
/modules.xml
/navEditor.xml
/assetWizardSettings.xml
/deploymentTargetSelector.xml
/deviceManager.xml
/markdown.xml
/AndroidProjectSystem.xml
/appInsightsSettings.xml
